SUPABASE_URL=https://cflwxikhyqmsxjfwobwe.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmbHd4aWtoeXFtc3hqZndvYndlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzOTI3ODEsImV4cCI6MjA5OTk2ODc4MX0.Aebipuvx4YDdX0C7orstB7bZzznr7HXgNgxFEbD8wNk